
/* CSS Index */

body{
    background-color: #f0f0f0;
    margin: auto;  
    padding: 0%;
}

/* Style the links inside the navigation bar */
.navbar  {
    display: flex;  
    flex-direction: row;
    background-color: #333;
    justify-content: center;
    padding:3%;
}

.hero{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 100px 0;
}